
  <div class="modal-header">
    <h5 class="modal-title">Registrar Usuario</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="CloseModal();" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="usuarioForm"   >
        <div class="form-group">
          <label for="exampleInputEmail1">Usuario</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="nombreUsuario" >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="contrasena">
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal " (click)="CloseModal();" >Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="registrarUsuario()">Registrar</button>
  </div>